#hairmetal {
  border-radius: 8px;
}

.chart::before {
  position: absolute;
  top: 50px;
  left: 300px;
  z-index: -1;
  display: block;
  width: 400px;
  height: 300px;
  content: " ";
  /* background-image: url("../LogoMakr_4OxzVa.png"); */
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
  opacity: 0.3;
}

.tooltip {
  position: absolute;
  width: 300px;
  height: 450px;
  padding: 2px;
  padding-top: 8px;
  font: 12px sans-serif;
  color: black;
  text-align: center;
  background: lightsteelblue;
  border: 0;
  border-radius: 10px;

  /* Postion the tooltip*/
  z-index: 1;
  top: -1px;
  left: 95%;
  /*top: -5px;
  left: 105%; */
}

.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
 }

/*hr { 
  width:100%; 
  height:1px; 
  background: #fff 
} 

visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    
    position: absolute;
    z-index: 1;
    top: -5px;
    left: 105%;

*/

.axis-text {
  font-family: sans-serif;
  font-weight: bold;
  fill: #551aaf;
  text-anchor: middle;
}

.active {
  font-weight: bold;
  fill: #000;
  fill: #551aaf;
  transition: fill 0.3s ease-out;
  text-anchor: middle;
}

.inactive {
  font-weight: lighter;
  fill: #551aaf;
  transition: fill 0.3s ease-out;
  text-anchor: middle;
}

.inactive:hover {
  fill: #e75480;
  cursor: pointer;
}

.form-group {
  display: inline-block;
  /*margin-top: 50px; */
}

.button_all {
  background-color: #0d42ba; /* Blue color*/
}

.button_2017 {
  background-color: #0dba2f; /* green color*/
}

.button_2016 {
  background-color: #8090c2; /* purple color*/
}

.button_2015 {
  background-color: #ba2f0d; /* red color*/
}

.button_2014 {
  background-color: #f08026; /* orange color*/
}

.button_2013 {
  background-color: #ba860d; /* brown color*/
}
/* 

'All', 'color': '#0d42ba'}, //blue
                      { 'year': '2017', 'color': '#0dba2f' },  //green
                      { 'year': '2016', 'color': '#8090c2' }, //purple
                      { 'year': '2015', 'color': '#ba2f0d' }, //red
                      { 'year': '2014', 'color': '#f08026' }, //orange
                      { 'year': '2013', 'color': '#ba860d' } //brown
                    ];
*/
